<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componentes</title>
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container my-3 text-center">
            <h2>{{name}}</h2>
        </div>
        <!-- <div class="container">
            <card title="Vue" content="Vue es el mas facil de aprender" category="Framework"></card>
            
            <card :title="'Angular'.toUpperCase()" content="Angular tiene una curva de aprendizaje mas empinada"  category="Framework"></card>

            <card title="React" content="React es el mas popular en el mundo" category="Framework"></card>
        </div> -->
        <div class="container">
            <cards></cards>
        </div>
    </div>
    

    <script src="main.js"></script>
    <script src="components/card.js"></script>
    <script src="components/cardForm.js"></script>
    <script src="components/cards.js"></script>
    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>
</html>