<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Descargando Vue -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>
<body>
    <!-- Importando la app -->
    <div id="app" hidden>
        <h1>Hola {{name}}</h1>
        <p v-if="age>18">Tienes {{age}} años</p>
        <p v-else>Eres menor de edad</p>
        <p>Eres {{role.toLowerCase() === 'estudiante' ? 'Aprendiz': 'Maestro'}}</p>
        <img v-bind:src="photo" :width="photoWidth">
        <p>Marcos de Trabajo</p>
        <ul>
            <li v-for="framework of frameworks">{{framework.toUpperCase()}}</li>
        </ul>

    </div>

    <div id="dap" hidden>
        <h1>{{name}}</h1>
        <p @click="incrementCount()" :style="{backgroundColor: count >= 10 ? 'red': 'white'}">Count is {{count}}</p>
        <br>
        <p :class="count >= 15 && 'completed' ">{{count}}</p>
    </div>

    <div id="cap">
        <h2>{{name}}</h2>
        <ul>
            <li v-for="fruit of fruits">{{fruit}}</li>
        </ul>
        <p>Capacidad restante {{capacityLeft}}</p>
        <button @click="removeFruit()">Eliminar Fruta</button>
    </div>

    <script src="main.js"></script>
    <!-- Montando app de Vue -->
    <script>
        const mountedApp = app.mount("#app");
        const mountedDapp = dap.mount("#dap");
        const mountedCapp = cap.mount("#cap");
    </script>

    <style>
        .completed{
            background-color: green;
            font-size: 2rem;
            color: white;
        }
    </style>
</body>
</html>