<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tareas con Vue.js, Watch, Computed y Marcado de Tareas</title>
</head>
<body>
    <div id="app">
        <h1>Lista de Tareas</h1>
        <input v-model="nuevaTarea" @keyup.enter="agregarTarea" placeholder="Agregar una nueva tarea">
        <ul>
            <li v-for="(tarea, index) in tareas" :key="index">
                <span :class="{ completada: tarea.completada }">{{ tarea.texto }}</span>
                <button @click="eliminarTarea(index)">Eliminar</button>
                <button @click="marcarTarea(index)">{{ tarea.completada ? 'Desmarcar' : 'Marcar' }}</button>
            </li>
        </ul>
        <p>Tareas completadas: {{ tareasCompletadas }} de {{ tareas.length }} ({{ porcentajeCompletado }}%)</p>
    </div>

    <style>
        .completada {
            text-decoration: line-through;
            color: red;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="script.js"></script>

</body>
</html>

