<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="my.css">
    <title>Vue 2</title>
</head>

      
<body>

    <h2>Crear Nueva Publicación</h2>
    <div id="app3">
        <form @submit.prevent="createPost">
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" class="form-control" v-model="newPost.title" id="title">
            </div>
            <div class="form-group">
                <label for="body">Cuerpo:</label>
                <textarea class="form-control" v-model="newPost.body" id="body"></textarea>
            </div>
            <div class="form-group">
                <label for="userId">ID de Usuario:</label>
                <input type="number" class="form-control" v-model="newPost.userId" id="userId">
            </div>
            <button type="submit" class="btn btn-primary">Crear Publicación</button>
        </form>
    </div>


    <div class="w-75">
        <div id="app2">
            <input type="text" v-model="searchQuery" placeholder="Buscar por título o usuario">
            <button @click="searchPosts">Buscar</button>

            <h1 class="text-center">Posts</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">id</th>
                        <th scope="col" class="text-center">userId</th>
                        <th scope="col" class="text-center">Title</th>
                        <th scope="col" class="text-center">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="post in filteredPosts" :key="post.id">
                        <td>{{ post.id }}</td>
                        <td>{{ post.userId }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

      
      
        


    <script src="script.js"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>